body{
  font-family: 'Fredoka One', cursive;
  background-image: linear-gradient(to right, #41f804, #ffff6f);
  color: #fff;
}

.name{
  align-items: center;
  text-align: center;
}
.pas{
	align-items: center;
	margin: 30px;
	text-align: center;
}
.heading_head1{
	color: #292c2f;
	margin-top: 30px;
	margin-bottom: 30px;
}
.correct{
  text-align: center;
  padding-top: 200px;
}